.header{
    height: 34vw;
    margin: 30px auto;
    background: url('../../Assets/header-image.png') no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 30px;
}

.header-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    max-width: 50%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
    color: white;
    border-radius: 30px;
    gap: 1.6vw;
    padding: 1.5vw;
    animation: fadeIn 3s;
}

.header-content h1{
    font-size: max(4vw, 22px);
}

.header-content p{
    font-size: 1.5vw;
    max-width: 60%;
}

.header-content button{
    position: absolute;
    cursor: pointer;
    border: 2px solid black;
    color: white;
    background-color: rgb(0, 89, 0);
    padding: 1vw .5vw;
    font-weight: 500;
    font-size: max(1.1vw, 10px);
    width: 20%;
    border-radius: 50px;
    bottom: 5vw;
    left: 5vw;
}

.header-content button:hover{
    background-color: rgb(0, 79, 0);
}