.header{
    height: 65vh;
    width: 90vw;
    background-color: rgb(14, 60, 14);
    background-size: 100%;
    margin: 30px auto;
    position: relative;
    border-radius: 80px;
}

.header-content-text{
    position: absolute;
    color: white;
    left: 2.6%;
    top: 10%;
    width: 15%; 
    animation: fadeIn 2s;
}

.header-content-text p{
    margin: 20% auto;
    word-spacing: 5px;
    line-height: 30px;
}

.header-content-text button{
    height: 40px;
    padding: 5px 15px;
    background: white;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    color: rgb(14, 60, 14);
    font-weight: bolder;
    font-size: 15px;
    margin: 0 auto;
}

.header-content-text button:hover{
    height: 45px;
}

.header-content-image{
    position: absolute;
    width: 80%;
    height: 100%;
    right: 0px;
    margin-right: 0;
    background: url('../../Assets/header-image.png') no-repeat;
    background-size: 100%; 
    border-radius: 80px;
}