.navbar{
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: green;
}

.navbar-menu{
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 20px;
}

.navbar-menu li{
    cursor: pointer;
}

.navbar-right{
    display: flex;
    font-size: 20px;
    gap: 30px;
    align-items: center;
}

.navbar-cart-icon{
    position: relative;
}

.navbar-cart-icon .dot{
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    border-radius: 5px;
    background-color: tomato;
    bottom: 25px;
    left: 20px;
}

.navbar-right button{
    padding: 5px 15px;
    background: transparent;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    color: green;
    font-weight: bolder;
    font-size: 15px;
}

.navbar-right button:hover{
    background-color: rgb(238, 183, 17);
    color: black;
    font-size: 20px;
}

.navbar-menu .active{
    border-bottom: 2px solid rgb(91, 91, 91);
}